# ==== AURA_V2/requirements.txt ====
Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
Flask-WTF
python-dotenv
requests
email-validator
pandas
matplotlib
seaborn

# Novas bibliotecas para gerar PDFs
xhtml2pdf
PyPDF2